**.aux
**.log
**.bbl
**.brf
**.blg
**.toc
**.pyg
**.idx
**.synctex.gz
**.*~
**.lof
**.thm
snippet**
**.lytex
**.dep
.Jarret.mscz,
.scyJ5370.mscz,
00/
03-Trabalhos_relacionados.tex
03.5-Genero.tex
2.1-Arvores.tex
2.2-Formalizacao.tex
2b/
4e/
53/
B-ModeloImproviso.tex
B-conjunto_conceitos.tex
C-SIK.tex
Jarret/
Rakefile~
SIKexample.txt
"V\303\255deos/"
a9/
b1/
c5/
c7/
lytexfy.py
magno
magno.c
main.bak.pdf
markov.sc
processo_criativo.png
sclang-prettifier.sty
scyJ5370.mscz
scyJ5370.pdf
tidal.ly
tidal1